
body {
    background-color: #d7ebecc0;
}

table{
    margin: auto;
}

header{
    background-color: rgb(134, 133, 133);
    box-shadow:3px 3px 3px skyblue;
    padding: 1em;
    margin-bottom: 2em;
    text-align: center;
}

tr.space>td {
    margin: 1em;
    padding: 0.5em;
    max-width: fit-content;
  }

h1 {
    font-size: 32pt;
    text-shadow: 2px 2px paleturquoise;
}

.tdc {
    width: 70%;
    height: 2em;
    background-color: #96d7da;
}

.complete {
    opacity: 0.5;
    width: 60%;
    height: 2em;
    text-decoration: line-through;
    background-color: lightpink;  
}

.complete-no-strike {
    opacity: 0.5;
    width: 60%;
    height: 2em;
    background-color: lightpink;  
}

.due{
    width: 60%;
    height: 2em;
    border-spacing: 20px;
    background-color: lightgoldenrodyellow;

}

.data-space{
    height: 2em;
    background-color: #d7ebecc0;
}

.box-shadow{
    box-shadow: 3px 3px 3px gray;
}

.task-text{
    font-size: 18pt;
}

.task-date{
    font-size: 10pt;
}

.complete-header{
    text-align: center;
    text-decoration: underline;
    background-color: #96d7da;
    box-shadow: 3px 3px 3px skyblue;
}

.form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

#submit-btn{
    background-color: silver;
    border:2px solid lightslategrey;
    box-shadow: 3px 3px 3px skyblue;
    margin-left: 1em;
    margin-right: 1em;
    width: 10em;
}

#datepicker {
    width: 5em;
    background-color: silver;
    border:2px solid lightslategrey;
    box-shadow: 3px 3px 3px skyblue;
    margin-left: 1em;
    margin-right: 1em;
    box-shadow: 3px 3px 3px gray
}

#tasks-box{
    display: flexbox; 
}

#text-in{
    width: 50%;
    box-shadow: 3px 3px 3px gray;
}